<div class="row">
  <div class="col-md-5">
    <hr>
    <h5>Edit Ingredients</h5>
    <form>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 bd-example">
          <button type="submit" class="btn btn-success">Add</button>
          <button type="submit" class="btn btn-danger ml-1">Delete</button>
          <button type="submit" class="btn btn-primary ml-1">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>